.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: fixed;
  /* Fixed to the top */
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  /* Full width */
  background-color: green;
  /* Updated background color to green */
  padding: 10px 0;
  /* Adjust the padding as needed */
  display: flex;
  /* Make links display horizontally */
  justify-content: space-between;
  /* Space links evenly between them */
  align-items: center;
  /* Center links vertically */
}

.nav-link {
  text-decoration: none;
  /* Remove underline */
  color: #fff;
  /* Text color */
  font-size: 16px;
  /* Adjust font size as needed */
}