.App {
  text-align: center;
  font-family: "ysabeau";
  src: url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
  font-style: normal;
  font-weight: 100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





@keyframes draw {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -100;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-300%) scale(.3, 1.8);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }

  70% {
    transform: translateY(0%) scale(1, 1.2);
    animation-timing-function: ease;
  }

  80% {
    transform: translateY(0%) scaleY(.8);
  }

  100% {
    transform: translateY(0%) scaleY(1);
  }
}

#animation {
  position: relative;
  width: 200px;
  height: 174px;
}

#animation-wrapper {
  padding: 90px;
  overflow: hidden;
}


#BigMarker,
#SmallMarker {
  position: absolute;
  width: auto;
  transform: translateY(-300%) scale(.3, 1.8);
  animation-duration: 1s;
  transform-origin: bottom center;
  animation-name: drop;
  animation-fill-mode: forwards;
}

#BigMarker {
  height: 84%;
  left: 0;
  bottom: 0.1%;
}

#SmallMarker {
  height: 56%;
  left: 59%;
  bottom: 31%;

  animation-delay: 1.8s;
}

#MarkerPath,
#MarkerPathOverlay {
  position: absolute;
  height: 35%;
  width: auto;
  bottom: 0;
  left: 32%;
}

#MarkerPathOverlay path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation-duration: 2s;
  animation-name: draw;
  animation-timing-function: linear;
  animation-delay: .9s;
  animation-fill-mode: forwards;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #8bc34a;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* Autocomplete */
.autocomplete,
.Autocomplete_root__Rb0fa {
  width: 100%;
  margin-top: 40px;
  /* Add any additional margin as needed */
  z-index: 3000;
  /* Higher z-index to position it at the bottom */
}

/* Map */
.map {
  /* Add styles for the Map component here */
  z-index: 100;
  height: calc(100% - 60px);
}

/* Button in the top left corner */
.button-corner {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2000;
  /* Higher z-index to be on top */
  margin-top: 80px;
}

.select_class {
  height: 50px;
}

.loading-page {
  width: 100%;
  height: 100vh;
  background: #fff
}